{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "arrowParens": "always",
    "printWidth": 100
  }
  